@charset "utf-8";

/*CSS para impressoras*/

header, nav, footer{
    display: none;
}

main::after{
    content: "Impressão retira do site: https://elimarcosdev.github.io/android-projeto/index.html";
}

div{
    display: none;
}